@charset "UTF-8";
/*字体大小*/
/*灰色字体颜色*/
/*白色字体*/
/*黑色字体*/
/*按钮灰色边框*/
/*蓝色边框颜色*/
/*蓝色字体颜色*/
/*group 底部边框颜色*/
/*header背景*/
/*搜索框border颜色*/
/*banner buttle*/
/*orange line颜色*/
/*line bottom颜色*/
/* 书背景*/
/* 书边框颜色 */
/*书的阴影*/
/*绿色标签颜色*/
/*限免tag背景*/
/*按钮背景颜色*/
/*按钮border颜色*/
/*标签背景*/
/*标签背景色*/
/*详情界面*/
/* 阅读界面 */
/*阅读界面标题*/
/*超过几行显示省略号*/
/*背景*/
/* 滚动 */
/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

.bookLRlist {
  width: 100%;
  padding: 0.26667rem; }
  .bookLRlist .readright {
    padding-left: 40px; }
    .bookLRlist .readright h4 {
      font-size: 0.53333rem;
      color: #000;
      height: 1.22667rem;
      line-height: 1.22667rem; }
    .bookLRlist .readright h6 {
      margin-top: 0.26667rem;
      font-size: 0.53333rem;
      height: 1.22667rem;
      line-height: 1.22667rem; }
    .bookLRlist .readright .booktit {
      margin-top: 0.26667rem;
      height: 1.06667rem;
      font-size: 0.37333rem; }
      .bookLRlist .readright .booktit .finish {
        display: inline;
        padding: 0.08rem 0.13333rem;
        margin-left: 0.26667rem; }

.reading {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1.33333rem; }
  .reading .beginRead, .reading .begindown {
    flex: 1;
    font-size: 0.42667rem;
    text-align: center;
    color: #333;
    margin: 0.16rem 0.26667rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border: 1px solid #999; }
  .reading .beginRead.bg, .reading .begindown.bg {
    color: #fff;
    background: orange;
    border: 0; }

.content {
  padding: 0.26667rem;
  font-size: 0.37333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: #999;
  height: 2.66667rem; }

.Newest {
  display: block;
  width: 100%;
  font-size: 0.37333rem;
  height: 1.06667rem;
  border-top: 1px solid #ccc;
  line-height: 1.06667rem;
  text-align: center;
  color: #333; }

.toptit {
  width: 100%;
  height: 1.06667rem;
  padding: 0 0.53333rem;
  font-size: 0.42667rem;
  color: #999; }

.storytit {
  margin: 0.13333rem 0.26667rem;
  border: 1px solid #999;
  font-size: 0.37333rem;
  padding: 0.08rem 0.21333rem;
  background: #FFCCFF;
  border-radius: 0.10667rem;
  color: #990000; }

.authorbooks {
  margin-top: 0.26667rem;
  width: 100%;
  height: 1.06667rem;
  line-height: 1.06667rem;
  color: #333;
  font-size: 0.42667rem;
  padding-left: 0.53333rem; }
