@import "_config.scss";
@import "_mixin.scss";
.wrap{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.bookCatalog{
    width:100%;
    li{
        width:100%;
        padding-left:pxTorem(20px);
        height:pxTorem(40px);
        line-height: pxTorem(40px);
        font-size:pxTorem(16px);
        border-bottom: 1px solid #ddd;
        &.bg{
            color:orange;
        }
    }
}
// section{
//     flex:1;
// }