@charset "UTF-8";
/*字体大小*/
/*灰色字体颜色*/
/*白色字体*/
/*黑色字体*/
/*按钮灰色边框*/
/*蓝色边框颜色*/
/*蓝色字体颜色*/
/*group 底部边框颜色*/
/*header背景*/
/*搜索框border颜色*/
/*banner buttle*/
/*orange line颜色*/
/*line bottom颜色*/
/* 书背景*/
/* 书边框颜色 */
/*书的阴影*/
/*绿色标签颜色*/
/*限免tag背景*/
/*按钮背景颜色*/
/*按钮border颜色*/
/*标签背景*/
/*标签背景色*/
/*详情界面*/
/* 阅读界面 */
/*阅读界面标题*/
/*超过几行显示省略号*/
/*背景*/
/* 滚动 */
/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bookCatalog {
  width: 100%;
}

.bookCatalog li {
  width: 100%;
  padding-left: 0.53333rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
  font-size: 0.42667rem;
  border-bottom: 1px solid #ddd;
}

.bookCatalog li.bg {
  color: orange;
}
