@charset "UTF-8";
/*字体大小*/
/*灰色字体颜色*/
/*白色字体*/
/*黑色字体*/
/*按钮灰色边框*/
/*蓝色边框颜色*/
/*蓝色字体颜色*/
/*group 底部边框颜色*/
/*header背景*/
/*搜索框border颜色*/
/*banner buttle*/
/*orange line颜色*/
/*line bottom颜色*/
/* 书背景*/
/* 书边框颜色 */
/*书的阴影*/
/*绿色标签颜色*/
/*限免tag背景*/
/*按钮背景颜色*/
/*按钮border颜色*/
/*标签背景*/
/*标签背景色*/
/*详情界面*/
/* 阅读界面 */
/*阅读界面标题*/
/*超过几行显示省略号*/
/*背景*/
/* 滚动 */
/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.bookBan {
  width: 100%;
  height: 100%;
}

.bookBan .bookPage {
  width: 100%;
  height: 100%;
}

.bookBan .bookPage .page-book-city {
  width: 100%;
  overflow-y: auto;
}

.bookBan .bookPage .page-book-city .bookBanner {
  width: 100%;
}

.bookBan .bookPage .page-book-city .bookBanner img {
  width: 100%;
}

.iconlist {
  width: 100%;
  height: 2.13333rem;
  display: flex;
  padding: 0.16rem;
  border-bottom: 0.26667rem solid #f0f0f0;
}

.iconlist a {
  flex: 1;
}

.iconlist a img {
  width: 0.90667rem;
  display: block;
  margin: 0 auto;
}

.iconlist a span {
  height: 0.8rem;
  line-height: 0.8rem;
  color: #5F595B;
  display: block;
  text-align: center;
  font-size: 0.42667rem;
}

.weekhot {
  width: 100%;
  height: 1.33333rem;
  line-height: 1.33333rem;
  font-size: 0.48rem;
  border-bottom: 1px solid #f0f0f0;
}

.weekhot b {
  display: inline-block;
  width: 0.13333rem;
  height: 100%;
  background: #ffab18;
  vertical-align: middle;
  margin-right: 0.37333rem;
}

.weekhot a {
  color: #131313;
  margin-left: 0.37333rem;
}

.weekhot strong {
  margin-left: 0.37333rem;
  color: #fff;
  font-weight: 400;
  padding: 0.05333rem 0.08rem;
  background: #49ab3f;
}

.book-t-b-list {
  padding: 0.26667rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 0.37333rem solid #F4F4F4;
}

.book-t-b-list a {
  margin-bottom: 0.26667rem;
  width: 33.3%;
}

.book-t-b-list a dl {
  width: 2.29333rem;
  height: 4.53333rem;
  margin: 0 auto;
}

.book-t-b-list a dl dt, .book-t-b-list a dl dd {
  width: 100%;
  font-size: 0.42667rem;
  color: #353432;
}

.book-t-b-list a dl dt {
  height: 3.2rem;
}

.book-t-b-list a dl dt img {
  width: 100%;
  height: 3.2rem;
  display: block;
}

.book-t-b-list a dl dd {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 1.33333rem;
  line-height: 0.64rem;
}

.book-l-r-list {
  width: 100%;
}

.book-l-r-list .bookLRlist dl {
  padding: 0.26667rem 0.21333rem;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #E2E2E2;
}

.book-l-r-list .bookLRlist dl dt {
  flex: 3;
  position: relative;
}

.book-l-r-list .bookLRlist dl dt .billboard {
  position: absolute;
  left: 0.13333rem;
  top: 0;
  width: 0.37333rem;
  height: 0.48rem;
  background: #E30003;
  color: #fff;
  text-align: center;
  line-height: 0.48rem;
}

.book-l-r-list .bookLRlist dl dt .bookend {
  position: absolute;
  left: 0.13333rem;
  bottom: 0.13333rem;
  width: 90%;
  color: #fff;
  height: 0.48rem;
  background: rgba(0, 0, 0, 0.4);
}

.book-l-r-list .bookLRlist dl dt img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.book-l-r-list .bookLRlist dl dd {
  color: #554C4F;
  flex: 7;
}

.book-l-r-list .bookLRlist dl dd h4 {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.42667rem;
}

.book-l-r-list .bookLRlist dl dd h6 {
  line-height: 0.64rem;
  height: 0.64rem;
  font-size: 0.32rem;
}

.book-l-r-list .bookLRlist dl dd p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.book-l-r-list .bookLRlist dl dd .booktit {
  margin-top: 0.16rem;
  display: flex;
  align-items: center;
  height: 0.90667rem;
}

.book-l-r-list .bookLRlist dl dd .booktit span {
  margin-right: 0.26667rem;
  padding: 0.05333rem 0.10667rem;
  border: 1px solid #49ab3f;
  color: #49ab3f;
}

.book-l-r-list .bookentry {
  width: 100%;
  height: 1.33333rem;
  border-bottom: 1px solid #E2E2E2;
}

.book-l-r-list .bookentry dl {
  display: flex;
  align-items: center;
}

.book-l-r-list .bookentry dl dt {
  text-align: center;
  line-height: 1.33333rem;
  width: 1.33333rem;
  height: 1.33333rem;
}

.book-l-r-list .bookentry dl dt .billboard {
  color: #E00000;
  font-size: 0.37333rem;
}

.book-l-r-list .bookentry dl dd {
  flex: 1;
  display: flex;
  height: 1.33333rem;
}

.book-l-r-list .bookentry dl dd h4 {
  color: #3D4341;
  font-size: 0.42667rem;
  line-height: 1.33333rem;
  height: 1.33333rem;
}

.book-l-r-list .bookentry dl dd span {
  line-height: 1.33333rem;
  height: 1.33333rem;
  color: #ccc;
  font-size: 0.37333rem;
  margin-left: 0.26667rem;
}

.page-book-shelf {
  width: 100%;
  overflow-y: auto;
}

.Change-one-change {
  width: 100%;
  height: 1.33333rem;
  display: flex;
  align-items: center;
}

.Change-one-change span {
  flex: 1;
  border: 1px solid #999;
  text-align: center;
  height: 100%;
  line-height: 1.33333rem;
  font-size: 0.42667rem;
}

.btn {
  width: 1.06667rem;
  height: 0.8rem;
  font-size: 0.37333rem;
}
